h1{
    font-size: 50px;
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: darkslategrey;
    width: 100%;
    height: 100%;
}
#d1
{
    text-align: center;
    position: absolute;
    top: 100px;
    left: 250px;
    color: aquamarine;
    font-size: 30px;
}
#d2
{
    text-align: center;
    color: aquamarine;
    position: absolute;
    top: 100px;
    left: 650px;
    font-size: 30px;
}
#img1
{
    position: relative;
    top: 40px;
    left: 290px;
    width: 240px;
}
#img2
{
    position: relative;
    top: 40px;
    left: 420px;
    width: 240px;
}